html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
:root{
    --dark: #000000;
    --gray: #464646;
    --green: #B9FF66;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header__container, .footer__container{
    max-width: 1440px;
    margin-inline: auto;
    align-items: center;
}

body{
    font-family: "Space Grotesk",sans-serif;
}
.hat{
    padding-block: 40px;
    background-color: #191A23;
    margin-bottom: 60px;
    
}
.header__container{
    max-width: 1440px;
    height: 111px;
    margin-inline: auto;
    height: 45px;
    background-color: #191A23;
   
}

.header__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.header__logo{
    margin-right: 200px;
}
.header__list{
    display: flex;
    gap: 40px;
    
}
ul{
    list-style: none;
}
.header__list-link{
       font-weight: 600;
       font-size: 20px;
       color: white;
       transition: all 0.5s;
       border-bottom: 2px solid white;
}

.header__list-link:hover{
    color: var(--green);
    border-bottom: 2px solid var(--green);
    font-weight: 700;
}
a{
    text-decoration: none;
}

.header__button{
    padding: 20px 35px;
    border: 2px solid white;
    border-radius: 14px;
    color: white;
    transition: 0.3s;
}

.header__button:active{
    background-color: var(--green);
    color: var(--dark);
    border: 2px solid var(--green);
}

.header__button:hover{
    opacity: 60%;
    
}
#Exit__button{
    padding-left: 113px;
}




/* Подвал */
.footer__container {
    margin-top: 141px;
    background-color: #292A32;
    max-width: 1241px;
    height: 135px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Прижимаем к низу */
    left: 50%; /* Смещаем в центр по горизонтали */
    transform: translateX(-50%); /* Корректируем позиционирование по центру */
    padding: 10px;
    width: 100%; /* Занимаем всю доступную ширину */
    box-sizing: border-box; /* Учитываем padding в ширине */
}
.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Занимаем всю высоту контейнера */
    max-width: 1241px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем содержимое внутри */
}
.footer__list{
    display: flex;
    gap: 40px;
    
}
.footer__list-link{
       font-weight: 600;
       font-size: 20px;
       color: white;
       transition: all 0.5s;
       border-bottom: 2px solid white;
}
.footer__list-link:hover{
    color: var(--green);
    border-bottom: 3px solid var(--green);
    font-weight: 700;
}
.footer__logo{
    padding-right: 155px;
    
}




.profile__content {
    display: flex;
    align-items:flex-start ;
    gap: 40px;
    margin-left: 122px; 
    max-width: 1440px;
    margin-inline: auto;
  
}
.profile__avatar {
    display: flex;
    flex-direction:column;
    align-items: flex-start; 
    margin-left: 122px;
    margin-bottom: 10px;
    border-radius: 5;
}
.profile__role {
    background-color:#191A23 ;
    max-width: 243px;
    max-height: 46px;
    color: white;
    margin-top: 0;
    height: 46px;
    width: 243px;
    display: flex;              
    align-items: center;        
    justify-content: center;
}

.profile__name{
    margin-top: 25px;
    font-size: 40px;
    font-weight: 500;
}
.profile__description{
    margin-top: 14px;
    font-size: 20px;
    font-weight: 400;
    max-width: 550px;
}

.profile__edit-button{
    background-color: #191A23;
    color:white;
    margin-top: 14px;
    width: 243px;
    height: 39px;
    display: flex;
    align-items: center;   
    justify-content: center;
    border: none;
    font-size: 20px;
}
.profile__edit-button:hover{
     opacity: 95%;
}

.profile__image{
    position: absolute;
    margin-left:757px ;
    opacity: 0.85;
    z-index: 2;
    
}




/* Добавитть новый проект */
.AddProject__content{
    max-width: 1440px;
    margin-inline: auto;
    align-items: center;
    margin-top: 160px;
    background-color: #191A23;
    width: 1196px;
    height: 80px;
    display: flex;
    flex-direction:row;
    gap: 600px;
}

.text-head{
    padding-left: 80px;
    color: white;
    font-size: 25px;
    text-align: start;
    justify-content: center;
    font-weight: 500;
}

.text-description{
    color: rgb(175, 175, 175);
    font-weight: 400;
    padding-left: 80px;
}

.AddProject__add{
    display: flex;
    justify-content: end;
    padding-right:  100px;
    text-align: center
 
}
.AddProject__add-button{
    background-color: white;
    width:90px;
    height: 40px;
    align-items: center;
    border: none;   
}
.AddProject__add-button:hover{
    opacity: 90%;
}

.AddProject__plus-img{
    margin-top: 3px;
    margin-bottom: auto;
}



/* дизайн карточки */
