:root{
    --dark: #000000;
    --gray: #464646;
    --green: #B9FF66;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Space Grotesk",sans-serif;
}
.hat{
    padding-block: 40px;
}
.header__container, .hero__container, .services__content, .advantages__content, .create__content, .examples__content, .feedvack__content{
    max-width: 1440px;
    margin-inline: auto;
    
}

.header__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display: flex;
    gap: 40px;
    
}
ul{
    list-style: none;
}
.header__list-link{
       font-weight: 600;
       font-size: 20px;
       color: var(--gray);
       transition: all 0.5s;
       border-bottom: 3px solid #000000;
}

.header__list-link:hover{
    color: var(--dark);
    border-bottom: 3px solid var(--green);
    font-weight: 700;
}
a{
    text-decoration: none;
}

.header__button{
    padding: 20px 35px;
    border: 2px solid var(--dark);
    border-radius: 14px;
    color: var(--dark);
    transition: 0.3s;
}

.header__button:active{
    background-color: var(--green);
    color: var(--dark);
    border: 2px solid var(--green);
}

.header__button:hover{
    opacity: 60%;
    
}



.hero{
    padding-block: 30px 65px;   
}
.hero__container{
    position: relative;
}

.hero__button-projects{
    padding: 20px 35px;
    border: 2px solid var(--dark);
    border-radius: 14px;
    background-color: var(--dark);
    transition: 0.3s;
    color:white
}
.hero__button{
    margin-top: 65px;
    text-align: left;
}
.hero__button:hover{
    opacity: 75%;
}

.hero__image{
    position: absolute;
    top: 0;
    right: 0;
}

.hero__title{
    max-width: 380px;
    font-size:60px;
    font-weight: 700;
    line-height: 77px;
}

.hero__descriprion{
    max-width: 500px;
    font-size: 22px;
    line-height: 28px;
    margin-top: 35px;
}



.services__content{
    padding-block: 65px 188px;
    display:flex;
   
}
.services__descriptoin, .examples__descriptoin{
    font-size: 18px;
    line-height: 23px;
}
.services__logo, .examples__logo {
    margin-right: 40px;
    font-size: 40px;
    line-height: 51px;
    font-weight: 500;
    border: 4px solid var(--green);
    background-color: var(--green);
    border-radius: 7px;
     white-space: nowrap;
    
}




.advantages__list{
    display: flex;          
    flex-wrap: wrap;       
    justify-content: center;
    align-items: center;
    margin-bottom: 187px;
    gap: 40px 30px; 
}


.create__content{
    position: relative;
    border: 50px solid #F3F3F3;
    background-color: #F3F3F3;
    border-radius: 45px;
    margin-bottom: 140px;
}
.create__title{
    max-width: 500px;
    font-size:30px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 26px;
}

.create__description{
    max-width: 500px;
    font-size:18px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 46px;
}

.create__button{
    padding: 20px 35px;
    border: 2px solid var(--dark);
    border-radius: 14px;
    background-color: var(--dark);
    transition: 0.3s;
    color:white;
    margin-top: 26px;
    font-size:20px ;
}
.create__button:hover{
    opacity: 75%;
}

.create__logo{
    position: absolute;
    top:-90px;
    right: 0;
}

.examples__content{
    margin-top:140px ;
    margin-bottom: 80px;
    display:flex;
}

